<section id="about" class="py-5 mt-5">
  <div class="container mt-5">
    <div class="title text-center pt-3 pb-5 mt-5">
      <h2 class="position-relative d-inline-block ms-4">About Us</h2>
    </div>
    <p class="text-center mb-4">
      We are a passionate team dedicated to high-quality apparel. Our mission is
      to provide the best clothing that fits your style and needs. Whether
      you're looking for casual wear or something more formal, we offer a wide
      variety of choices to suit every occasion. We prioritize comfort, fashion,
      and affordability in every product we offer, ensuring that our customers
      are always satisfied.
    </p>
    <p class="text-center mb-4">
      Our team works tirelessly to source the finest fabrics and designs from
      around the world. We believe that fashion is a way to express yourself,
      and our goal is to provide you with clothing that allows you to do just
      that. From timeless classics to trendy new arrivals, we have something for
      everyone.
    </p>
    <p class="text-center mb-4">
      Thank you for choosing us as your go-to fashion destination. We hope you
      enjoy shopping with us, and we're excited to continue providing you with
      the latest trends in fashion.
    </p>
    <div class="text-center">
      <img
        src="images/about_us.jpg"
        alt="About Us"
        class="img-fluid"
        style="max-width: 70%; margin-top: 30px"
      />
    </div>
  </div>
</section>
