<section id="cart" class="container py-5 mt-7" style="margin-top: 100px">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Shopping Cart</h2>

      <ul class="list-group" id="cart-items"></ul>

      <p class="text-center mt-3">
        You can proceed to checkout once you're ready.
      </p>
      <a class="nav-link text-dark" href="#payment">
        <button class="btn btn-primary w-100">Proceed to Checkout</button>
      </a>
    </div>
  </div>
</section>

<script src="js/cart.js"></script>
