<section class="container" id="productSection" style="margin-top: 120px">
  <div class="row mt-5">
    <div class="col-md-6 mb-4 mt-5">
      <img
        src=""
        alt="Product"
        class="img-fluid rounded mb-3 product-image"
        id="mainImage"
        style="height: 400px; object-fit: cover"
      />
    </div>

    <div class="col-md-6 mt-5">
      <h2 id="productName" class="h5 fw-semibold mb-3"></h2>
      <p class="mb-4" id="productDescription"></p>
      <div class="mb-3">
        <span class="h4 me-2" id="productPrice"></span>
      </div>
      <div class="d-flex flex-column gap-2 mt-3">
        <button
          class="btn btn-sm btn-primary shadow-sm rounded-pill d-flex align-items-center justify-content-center gap-2"
          id="addToCartButton"
        >
          🛒 <span>Add to Cart</span>
        </button>
        <button
          class="btn btn-sm btn-outline-warning shadow-sm rounded-pill d-flex align-items-center justify-content-center gap-2"
          id="addToFavoritesButton"
        >
          ⭐ <span>Add to Favorites</span>
        </button>
      </div>
    </div>
  </div>
</section>
