<section id="profile" class="container py-5 mt-7" style="margin-top: 100px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="text-center">Profile</h2>
        <form>
          <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" value="Amna" required />
          </div>
          <div class="mb-3">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              value="amna@gmail.com"
              required
            />
          </div>
          <div class="mb-3">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              value="******"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">
            Update Profile
          </button>
        </form>
        <p class="text-center mt-3">
          Want to log out?
          <a class="nav-link text-dark" href="#login">Log out</a>
        </p>
      </div>
    </div>
  </div>
</section>
