<section id="reset" class="container py-5 mt-7" style="margin-top: 100px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h2 class="text-center">Reset Password</h2>
        <form id="reset-form">
          <div class="mb-3">
            <label for="reset-email">Email</label>
            <input
              type="email"
              id="reset-email"
              name="reset-email"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="reset-password">New Password</label>
            <input
              type="password"
              id="reset-password"
              name="reset-password"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="reset-confirm-password">Confirm Password</label>
            <input
              type="password"
              id="reset-confirm-password"
              name="reset-confirm-password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Reset</button>
        </form>
        <p class="text-center mt-3">
          Don't have an account?
          <a class="nav-link text-dark" href="#register">Register</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
<script src="https://malsup.github.io/jquery.blockUI.js"></script>
<script src="services/user-service.js"></script>
<script src="services/user-service.js"></script>
