<section id="success" class="container py-5 mt-7" style="margin-top: 100px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 text-center">
        <h2 class="text-success">Order Successful!</h2>

        <p>
          Thank you for your purchase! Your order has been placed successfully.
        </p>
        <p>You will receive a confirmation email shortly.</p>
        <h4 class="mt-4">Order Summary</h4>
        <ul class="list-group text-start">
          <li class="list-group-item">
            Order Number: <strong>#123456</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
